// _typography.scss

/* TYPOGRAFIE */

body {
    font-family: Poppins, system-ui, sans-serif;
}

/* GROTE SCHERMEN */
@media screen and (min-width: 640px) {
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 1.7em;
    }
}
