// _variables.scss

$color-tekst: #222222;
$color-grijs1: #272727;
$color-grijs2: #373737;
$color-grijs3: #474747;
$color-grijs4: #575757;
$color-grijs5: #ececec;
$color-grijs6: #f5f5f5;
$color-rood: #ff0000;
$color-blauw: #5c90db;
$color-roze: #ffc0cb;
